body {
    background-color: #3d348b;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    display: flex;
    height: 100vh;
}

header {
    background-color: #7678ed;
    text-align: right;
    padding: .75rem;
    border-bottom: solid 1px #3d348b;
    box-shadow: 
        0 4px 8px 0 rgba(118, 120, 237, 0.652),
        0 6px 20px 0 rgba(118, 120, 237, 0.583);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header a {
    color: black;
    background-color: #f35b04;
    border: solid 1px #f18701;
    border-radius: 3px;
    padding: .5rem;
    margin-right: 1.5rem;
    /* line-height adjusts the amount of space taken up for the font */
    line-height: 1.5rem;
    /* This removes the underline from the a tag */
    text-decoration: none;
}

header a:hover {
    background-color: #EF2D56;
    cursor: pointer;
}

.container {
    margin: auto;
    padding: 1.5rem;
    background-color: #f35b04;
    border: double 30px #f18701;
    border-radius: 5px;
    box-shadow: 
        0 0px 2000px 0 rgba(241, 135, 1, 0.8),
        0 0px 2000px 0 rgba(241, 135, 1, 1);
}

.container > h1 {
    margin: 0 0 .5rem;
    color: #363537;
}

form input, form button {
    width: 100%;
    min-width: 300px;
    /*
        Our inputs and forms have different default sizes. By changing the box=sizing, we can fix this.
    */
    box-sizing: border-box;
    margin: .75rem 0;
    padding: .25rem;
    line-height: 1.5rem;
    font-size: 1em;
    border: solid 5px #7678ed;
    border-radius: 3px;
}

form button {
    color: white;
    background-color: #f7b801;
}

header a:hover, form button:hover {
    background-color: #EF2D56;
    cursor: pointer;
}

footer {
    margin-top: .75rem;
    border-top: solid 1px lightgray;
    padding-top: 1rem;
    text-align: center;
}

footer img {
    margin: 0 .5rem;
}

footer img:hover {
    cursor: pointer;
}